body {
    background-attachment: fixed;
    background-image: url('../Images/deployment.jpg');
    background-size: cover;
    font-family: Verdana;
    font-size: 12.9px;
    margin: 0px;
}

#content {
    background-color: rgba(80, 80, 80, 0.6);
    border: none;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    padding: 1vh;
    padding-top: 2vh;
    position: absolute;
    width: 70%;
}

.content-section {
    background-color: #808080;
    border-radius: 1em;
    margin: 0.5%;
    padding-left: 1em;
}

#discord-logo {
    height: 100%;
    float: right;
}

#logo {
    height: 100%;
}

#nav-bar {
    background-color: #000000;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
}