body {
    background-image: url('../Images/deployment.jpg');
    background-size: cover;
    margin: 0px;
}

#content {
    background-color: rgba(80, 80, 80, 0.6);
    border: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-left: 15%;
    padding: 2%;
    width: 70%;
}

#discord-logo {
    height: 100%;
    float: right;
}

#logo {
    height: 100%;
}

#nav-bar {
    background-color: #000000;
    height: 10%;
    position: sticky;
    width: 100%;
}